<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>All users in your department</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:each="user : ${users}">
            <li>
                <a th:href="@{${'/users/' + user.id}}" 
                   th:text="${user.name + ' ' + user.surname}" />
                <span 
                    th:text ="${user.department +  ' ' + user.position}" />
            </li>
        </div>
    </body>
</html>
