<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>A single task</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1 th:text="${theTask.title}" />
            <p th:text="${theTask.progress}" />
            <div th:if="${theTask.isSubTask}">
                <div th:each="aTask : ${theTask.insides}">
                    <li>
                        <a th:href="@{/task/{id}(id=${theTask.id})}"
                           th:text="${theTask.title}"/>
                        <span th:text="${theTask.start}" />
                        <span th:text="${theTask.finish}" />
                        <a th:href="@{/task/{id}(id=${theTask.assignee.id})}"
                           th:text="${theTask.assignee.name}"/>
                    </li>
                </div>
            <div/>
            
            <p th:text="${theTask.start}" />
            <p th:text="${theTask.finish}" />
            <p th:text="here should be files" />
        </div>
    </body>
</html>
