<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Here are all projects</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Lists of  projects</div>
        <ul>
            <li th:each="project : ${projects}">
                <a th:href="@{/projects/{id}(id=${project.id})}" th:text="${project.title}" />
            </li>
        </ul>
        <!--<div th:each="project : ${projects}">
            <div>
                <h1 th:text="${project.title}" />
            </div>
            <div th:insert="sideBar :: sideBar" />
            <div th:each="${taskList : project.insides}">
                <div>
                    <h1 th:text="${taskList.title}"/>
                    <ul th:each="aTask : ${taskList.insides}">
                        <li>
                            <a th:href="@{/task/{id}(id=${aTask.id})}"
                               th:text="${aTask.title}"/>
                            <span th:text="${aTask.start}" />
                            <span th:text="${aTask.finish}" />
                            <a th:href="@{/task/{id}(id=${aTask.assignee.id})}"
                               th:text="${aTask.assignee.name}"/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>-->
    </body>
</html>
